.App {
  font-family: sans-serif;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(247, 192, 42, 0.5);
}
